


#content{
    font-size: 20px;
    margin-bottom: 5px;
}
#gross-salary{
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}
#add-button{
    background-color: white;
    margin-left: 5px;
}
#netpay{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    border-bottom: 1px solid black;

}

#outputDiv{
    font-size: 20px;
     
}

#links ul{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.tab-content{
    align-items: center;
    display: grid;
    justify-content: center;
}

#tax-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#bill-manager-link{
    float: right;
}
footer{
    justify-content: center;
    text-align: center;
}




.form-salary{
    display: flex;
    align-items: center;
  }

  .form-bills{
    margin: 5px 5px;

  }

  #netpay2{
    display: flex;
    justify-content: space-between;
  }

  




  #new-bills{
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }


  #add-new-bills {
    float: right;
    margin-top: 10px;
    padding-top: 5px;
    
  }

  #balance{
    clear: both;
    display: flex;
    justify-content: space-between;
  }

  #balance-amount{
    display: flex;
    justify-content: space-around;
  }